##### pandas - DataFrame 클래스 : 행(row)과 열(column)로 이뤄진 2차원 리스트이다

In [3]:
#1. 시리즈 결합해서 데이터 프레임 만들기
import pandas as pd
index = ['2018','2019','2020','2021']
younghee = pd.Series([143,150,157,160], index = index)
cheolsu = pd.Series([145,165,175,180], index = index)
growth = pd.DataFrame({
    '영희' : younghee,
    '철수' : cheolsu
})
growth

       영희   철수
2018  143  145
2019  150  165
2020  157  175
2021  160  180

In [5]:
import pandas as pd
# 일반적인 데이터 프레임 만들기
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [145, 165,175,180]
}
growth = pd.DataFrame(data, index = index)
growth

# print(growth.columns)
# print(growth.values)

# 열 선택 꺽쇠 괄호 1
# print(growth['철수'])
# # print(growth['영희','철수'])

# # 열 이름 출력 [[]] 꺽쇠 괄호 2개
# print(growth[['철수']])

print(growth[['영희','철수']],'\n')
# print(growth[['영희']])

# loc[행(문자)] , iloc[인덱스(숫자)]
# 2020,2021년
print(growth.loc[['2020', '2021']],'\n')
print(growth.iloc[[2, 3]],'\n')

# 2020년 데이터 
print(growth.loc['2020'],'\n')
print(growth.iloc[2],'\n')

       영희   철수
2018  143  145
2019  150  165
2020  157  175
2021  160  180

       영희   철수
2020  157  175
2021  160  180

       영희   철수
2020  157  175
2021  160  180

영희    157
철수    175
Name: 2020, dtype: int64

영희    157
철수    175
Name: 2020, dtype: int64

In [81]:
import pandas as pd

# 인덱스 정의
index = ['2018', '2019', '2020', '2021']

# 데이터 정의
data = {
    '영희': [143150, 157, 160, 14],
    '철수': [145, 165, 175, 180]
}

# 데이터 프레임 생성
growth = pd.DataFrame(data, index=index)

# 열 선택: 철수의 데이터를 선택
print(growth['철수'])

# # 열 선택: 영희와 철수의 데이터를 선택 (중첩된 대괄호 사용)
# print(growth[['영희', '철수']])

# # 열 이름을 사용하여 선택
# print(growth[['철수']])

2018    145
2019    165
2020    175
2021    180
Name: 철수, dtype: int64

In [108]:
# 일반적인 데이터 프레임 만들기
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [145,165,175,180]
}
growth = pd.DataFrame(data, index = index)
print(growth)

# 특정 요소 한개 선택
# loc[행(문자), 열(문자)], # iloc[행(숫자), 열(숫자)]
print(growth.loc['2020', '철수'])
print(growth.iloc[2,1])

# 새로운 행 추가
new_index = '2022'
growth.loc[new_index] = [170, 185]  # 새로운 연도 데이터 추가

# 행 삭제 - 2020년
# 복사 - 원본 유지 : 깊은 복사 - copy()
growth2 = growth.copy()
growth2 = growth2.drop('2020') # 행삭제
print(growth2)

       영희   철수
2018  143  145
2019  150  165
2020  157  175
2021  160  180
175
175
       영희   철수
2018  143  145
2019  150  165
2021  160  180
2022  170  185

In [79]:
import pandas as pd
index = 0
fruits = pd.DataFrame({'apples': [30], 'bananas' : [21]}, index = [0])
fruits

   apples  bananas
0      30       21

In [6]:
# 실습 2 데이터 프레임
user = ['재천', '선영', '일성']
data = {
    '국어' : [90,80,70],
    '수학' : [80,75,95],
    '영어' : [85,95,100]
}
grade = pd.DataFrame(data, index = user)
grade

# 행 추가
user.append('현수')
# data = {
#     '국어' : [90,80,70,50],
#     '수학' : [80,75,95,30],
#     '영어' : [85,95,100,40]
# }

data['국어'].append(50)
data['수학'].append(30)
data['영어'].append(20)
# print(data)
grade = pd.DataFrame(data, index = user)
grade

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100
현수  50  30   20

In [110]:
# csv파일 만들기
user = ['재천', '선영', '일성']
data = {
    '국어' : [90,80,70],
    '수학' : [80,75,95],
    '영어' : [85,95,100]
}
grade = pd.DataFrame(data, index = user)
grade.to_csv('./datas/grade.csv')

In [114]:
# csv파일 읽기 read_csv(경로)
import pandas as pd
grade2 = pd.read_csv('./datas/grade.csv')
print(grade2)

  Unnamed: 0  국어  수학   영어
0         재천  90  80   85
1         선영  80  75   95
2         일성  70  95  100

In [8]:
# 2차원 리스트 데이터 프레임 만들기
import pandas as pd

data = [[143, 165], [150,172],[157,175],[160,180]]
index = ['2018','2019','2020','2021']
growth = pd.DataFrame(data,index = index)
growth

        0    1
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [12]:
# 일반적인 데이터 프레임 만들기
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [145,165,175,180]
}
growth = pd.DataFrame(data, index = index)
print(growth[['영희','철수']])

       영희   철수
2018  143  145
2019  150  165
2020  157  175
2021  160  180

In [24]:
import pandas
# 일반적인 데이터 프레임 만들기
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [145,165,175,180]
}
growth = pd.DataFrame(data, index = index)


# # 특정 요소 한개 선택
# # loc[행(문자), 열(문자)], # iloc[행(숫자), 열(숫자)]
# print(growth.loc['2020', '철수'])
# print(growth.iloc[2,1])

# # 새로운 행 추가
# new_index = '2022'
# growth.loc[new_index] = [170, 185]  # 새로운 연도 데이터 추가

# 새로운 열 추가
# growth.loc['2022'] = [162,181,172]
# growth['시현'] = [155,160,165,170]
growth.loc['2022'] = [162,181]
growth['시현'] = [155,160,165,170,172]
# 데이터에는 null이 있으면 안된다


# # 행 삭제 - 2020년
# # 복사 - 원본 유지 : 깊은 복사 - copy()
growth2 = growth.copy()
growth2 = growth2.drop('2020', axis = 0) # axis = 0 생략가능
# 행삭제
growth2= growth2.drop('철수',axis = 1)
print(growth2)
# print(growth)

       영희   시현
2018  143  155
2019  150  160
2021  160  170
2022  162  172

In [64]:
# 얕은 복사와 깊은 복사

# 얕은 복사 - 복사본을 수정하면 원본도 수정된다
a = [1,2,3,4]
print(a) # [1, 2, 3, 4]
b = a # 복사
b[1] = 10 # 수정
print(b)#[1, 10, 3, 4]
print(a) #[1, 10, 3, 4]

# 깊은 복사 - 복사본을 수정해도 원본은 유지된다. copy()
# c = [1,2,3,4]
# d = c.copy()
# d[1] = 10
# print(c)
# print(d)

[1, 2, 3, 4]
[1, 10, 3, 4]
[1, 10, 3, 4]
[1, 2, 3, 4]
[1, 10, 3, 4]

In [92]:
# 요소 수정, 변경 ( 업데이트 )
import pandas
# 일반적인 데이터 프레임 만들기
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [145,165,175,180]
}

growth = pd.DataFrame(data, index = index)
# print(growth)
# 0826_1
# 철수의 2020년 키를 177로 변경
growth.loc['2020','철수'] = 177

# 칼럼이름 변경 - rename(column - {ole:new}, inplace = true) inplace = true - 저장 여부
# 영희를 yeonghee
# print(growth.columns)
# print(growth.columns[0])
growth.rename(columns = {'영희':'yeonghee'}, inplace = True)
# 칼럼을 여러개 변경
growth.rename(columns = {'yeonghee' : 'sdf', '철수' : 'cheolsoo'}, inplace = True)
# print(growth)

# 0826_1
# print(growth.iloc[시작 범위:마지막 범위:간격]) 디폴트는 처음 : 1, 간격 : 1 마지막 : 종료인덱스
# print(growth.iloc[시작 범위:마지막 범위]) 디폴트는 처음 : 1,  마지막 : 종료인덱스
# 행, 열 전체 선택(범위 연산자 - ':')
print(growth.iloc[0:1]) 
# # 전체를 1행 간격으로 출력
# print(growth.iloc[ : : 2]) 
# # 전체를 2행 간격으로 출력
# print(growth.iloc[0:2:1]) 
# # 전체를 2행까지 1행 간격으로 출력
# print(growth.iloc[ : : -1]) 
# # 전체를 역순으로 출력

      sdf  cheolsoo
2018  143       145

In [4]:
import pandas as pd

# 칼럼을 인덱스로 설정하기
data = {
    '연도' : ['2018','2019','2020','2021'],
    '영희' : [143,150,157,160],
    '철수' : [145, 165,175,180]
}
# growth = pd.DataFrame(data, index = index)
growth = pd.DataFrame(data)
growth = growth.set_index('연도')
# 데이터 안에 인덱스를 넣어서 사용할때는 '셋 인덱스 '사용

print(growth)
growth

       영희   철수
연도
2018  143  145
2019  150  165
2020  157  175
2021  160  180

       영희   철수
연도
2018  143  145
2019  150  165
2020  157  175
2021  160  180