##### pandas - DataFrame 클래스 : 행(row)과 열(column)로 이뤄진 2차원 리스트이다

In [30]:
#1. 시리즈 결합해서 데이터 프레임 만들기
import pandas as pd
index = ['2018','2019','2020','2021']
younghee = pd.Series([143,150,157,160], index = index)
cheolsu = pd.Series([145,165,175,180], index = index)
growth = pd.DataFrame({
    '영희' : younghee,
    '철수' : cheolsu
})
growth

       영희   철수
2018  143  145
2019  150  165
2020  157  175
2021  160  180

In [58]:
# 일반적인 데이터 프레임 만들기
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [145, 165,175,180]
}
growth = pd.DataFrame(data, index = index)
growth

# print(growth.columns)
# print(growth.values)

# 열 선택 꺽쇠 괄호 1
# print(growth['철수'])
# # print(growth['영희','철수'])

# # 열 이름 출력 [[]] 꺽쇠 괄호 2개
# print(growth[['철수']])
print(growth[['영희','철수']])
# print(growth[['영희']])

# loc[행(문자)] , iloc[인덱스(숫자)]
print(growth.loc[['2020', '2021']])
print(growth.iloc[[2, 3]])

print(growth.loc['2020'])
print(growth.iloc[2])

       영희   철수
2018  143  145
2019  150  165
2020  157  175
2021  160  180
       영희   철수
2020  157  175
2021  160  180
       영희   철수
2020  157  175
2021  160  180
영희    157
철수    175
Name: 2020, dtype: int64
영희    157
철수    175
Name: 2020, dtype: int64

In [42]:
import pandas as pd

# 인덱스 정의
index = ['2018', '2019', '2020', '2021']

# 데이터 정의
data = {
    '영희': [143150, 157, 160, 14],
    '철수': [145, 165, 175, 180]
}

# 데이터 프레임 생성
growth = pd.DataFrame(data, index=index)

# 열 선택: 철수의 데이터를 선택
print(growth['철수'])

# 열 선택: 영희와 철수의 데이터를 선택 (중첩된 대괄호 사용)
print(growth[['영희', '철수']])

# 열 이름을 사용하여 선택
print(growth[['철수']])

2018    145
2019    165
2020    175
2021    180
Name: 철수, dtype: int64
          영희   철수
2018  143150  145
2019     157  165
2020     160  175
2021      14  180
       철수
2018  145
2019  165
2020  175
2021  180

In [108]:
# 일반적인 데이터 프레임 만들기
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [145,165,175,180]
}
growth = pd.DataFrame(data, index = index)
print(growth)

# 특정 요소 한개 선택
# loc[행(문자), 열(문자)], # iloc[행(숫자), 열(숫자)]
print(growth.loc['2020', '철수'])
print(growth.iloc[2,1])

# 새로운 행 추가
new_index = '2022'
growth.loc[new_index] = [170, 185]  # 새로운 연도 데이터 추가

# 행 삭제 - 2020년
# 복사 - 원본 유지 : 깊은 복사 - copy()
growth2 = growth.copy()
growth2 = growth2.drop('2020') # 행삭제
print(growth2)

       영희   철수
2018  143  145
2019  150  165
2020  157  175
2021  160  180
175
175
       영희   철수
2018  143  145
2019  150  165
2021  160  180
2022  170  185

In [94]:
# 실습 2 데이터 프레임
user = ['재천', '선영', '일성']
data = {
    '국어' : [90,80,70],
    '수학' : [80,75,95],
    '영어' : [85,95,100]
}
grade = pd.DataFrame(data, index = user)
grade

# 행 추가
user.append('현수')
# data = {
#     '국어' : [90,80,70,50],
#     '수학' : [80,75,95,30],
#     '영어' : [85,95,100,40]
# }

data['국어'].append(50)
data['수학'].append(30)
data['영어'].append(20)
print(data)
grade = pd.DataFrame(data, index = user)
grade

{'국어': [90, 80, 70, 50], '수학': [80, 75, 95, 30], '영어': [85, 95, 100, 20]}

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100
현수  50  30   20

In [110]:
# csv파일 만들기
user = ['재천', '선영', '일성']
data = {
    '국어' : [90,80,70],
    '수학' : [80,75,95],
    '영어' : [85,95,100]
}
grade = pd.DataFrame(data, index = user)
grade.to_csv('./datas/grade.csv')

In [114]:
# csv파일 읽기 read_csv(경로)
import pandas as pd
grade2 = pd.read_csv('./datas/grade.csv')
print(grade2)

  Unnamed: 0  국어  수학   영어
0         재천  90  80   85
1         선영  80  75   95
2         일성  70  95  100